html {
  height: 100%;
  width: 100%;
}

body {
   margin: 0; 
}


.grid {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 80% 10%;
  background-color:"#ffffff";

}

.inventory-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  gap:20px;
}

.build-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  gap: 10%;
}

.inventory-slot {
  height: 40px;
  width: 40px;
  background-color:rgba(0, 26, 255, 0.328);
  justify-content: center;
  align-content: center;
}

.build-slot {
  height: 80px;
  width: 80px;
  background-color: rgba(0, 26, 255, 0.328);
  justify-content: center;
  align-content: center;
  position: relative;
}



.hotbar {
  display:grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  gap:5px
}